<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/congrats.css">
    <title>Dashboard</title>
</head>
<body>




    <div class="navbar">
        <div class="leftside">
            <a href="./dashboard.html"><img src="../public/images/community-people-friends-group-svgrepo-com.svg" class="logo"></a><p>Skill Work Community</p>
            <ul id="menuList">
                <li><a href="">Home</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Pricing</a></li>
            </ul>
        </div>
        
        <nav>
            <div class="search">
                <input type="text">
                <button id="searchBtn">Search</button>
            </div>
            <div class="buttons">
                <button id="ProfileTag">B</button>
                <button id="Logout">Logout</button>
            </div>
        </nav>
    </div>


    <div class="container">
        <div>
            <h2>Your have successfully updated your Profile</h2>
            <img src="../public/images/tick-circle-svgrepo-com.svg">
            <p>Vertification of your details is ongoing</p>
        </div>
    </div>
    <div class="footer">
        <div class="1">
            <h5>Categories</h5>
            <ul>
                <li>Graphics & Design</li>
                <li>Digital Marketing</li>
                <li>Video & Animation</li>
                <li>Music & Audio</li>
                <li>Writing & Translation/li>
                <li>Logo Maker</li>
            </ul>
        </div>
        <div class="2">
            <h5>About</h5>
            <ul>
                <li>Careers</li>
                <li>Press & News</li>
                <li>Partnerships</li>
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
                <li>Investor Relations</li>
            </ul>
        </div>
        <div class="3">
            <h5>Community</h5>
            <ul>
                <li>Forum</li>
                <li>Influencers</li>
                <li>Affiliates</li>
                <li>Podcast</li>
                <li>Invite a Friend</li>
                <li>Events</li>
            </ul>
        </div>
        <div class="4">
            <h5>Support</h5>
            <ul>
                <li>Data</li>
                <li>Business</li>
                <li>Lifestyle</li>
                <li>Photography</li>
                <li>Sitemap</li>
                <li>Design</li>
            </ul>
        </div>
    </div>
    
    <script src="../public/js/congrats.js"></script>
</body>
</html>
