

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skill Work Community</title>
  <link rel="stylesheet" href="styles.css">
  <style>
 
  
  </style>
</head>
<body>

  <div class="container">
    <div class="success-message">
      <h1>Congratulations!</h1>
      <p>You have successfully signed up as a client on Skill Work Community.</p>
      <p>Are you ready to start searching for talented individuals to help you with your projects?</p>
      <a href="./main.html" class="btn">lets get started</a>
      <!-- <a href="client.html" class="btn"> Start Searching</a>
      <a href="profile.html" class="btn">Go to My Profile</a> -->
    </div>
  </div>
</body>
</html>
