<div class="container">
    <h1>skill work community</h1>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 100%;
            margin: 0 auto;
            /* padding: 20px; */
            background-color: #0156d7;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333333;
        }

        .job-list {
            list-style: none;
            padding: 0;
            color: white;
        }

        .job-item {
            border: 1px solid #cccccc;
            border-radius: 5px;
            padding: 10px;
            height: 400px;
            
            margin-bottom: 20px;
            background-color: #0156d7;
            display: flex;
            flex-direction: column;
            /* overflow: hidden; */
        }

        .job-title {
            color: white;
            font-size: 40px;
            margin-bottom: 5px;
        }

        .talent-list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: nowrap; /* Prevent wrapping */
            overflow-x: auto; /* Enable horizontal scrolling */
        }

        .talent-item {
            min-width: 200px; /* Adjust the minimum width as needed */
            border: 1px solid #cccccc;
            border-radius: 40px;
            padding: 10px;
            margin: 5px;
            height: 200px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex; /* Make talent-item flex */
            flex-direction: column; /* Align items vertically */
            overflow: hidden;
        }

        .talent-name {
            color: #333333;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .talent-info {
            color: #666666;
            margin-bottom: 5px;
        }
        </style>
    <ul class="job-list">
        <li class="job-item"  onclick="navigateToMessage('House Helps')">
            <h2 class="job-section" id="HouseRepair">House Helps</h2>
            <h3 class="job-subtitle">Talented Individuals</h3>
            <ul class="talent-list">
                <li class="talent-item">
                   
                </li>
                <li class="talent-item">
                    
                </li>  <li class="talent-item">
                   
                </li>
                <li class="talent-item">
                    
                
                
                </ul>
        </li>

     
    </ul>
</div>
<script>
    // onclick="navigateToMessage('Delivery')"
   function navigateToMessage(jobTitle) {
        window.location.href = 'message.html?jobTitle=' + encodeURIComponent(jobTitle);
    }
</script>