<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.7.0/hint.min.css'><link rel="stylesheet" href="./style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="edit.css"> -->
    <link rel="stylesheet" href="edit.css">
    <title>SKILL WORK COMMUNITY</title>
</head>
<body>




    <div class="navbar">
        <div class="leftside">
            <a href="index.html"><img src="community-people-friends-group-svgrepo-com.svg" class="logo"></a><p>Skill work Community</p>
            <ul id="menuList">
               
                <!-- <li><a href="./edit.html">Home</a></li> -->
                 <li><a href="displayByCategory.html">About</a></li>
                <li><a href="test.html">FAQ</a></li>
            </ul>
        </div>
        
        <nav>
            <div class="buttons">
                <button id="loginBtn" >Log in</button>
                <button id="signupBtn">Sign up</button>
            </div>
        </nav>
    </div>
    <div class="hero">
        <div class="textArea">
            <h1>WELCOME TO SKILL WORK COMMUNITY</h1>
            <!-- <h3>Find & Hire Expert Freelancers</h3> -->
            <h6>Find and connect with local Talent</h6>
            
        </div>
        <div class="Image">
            <img src="carpenter.png" alt="8">
            
        </div>
    </div>
        <p id="Popular">Most Popular Categories:</p>
        <div class="wrapper">
            <div class="card">
                <div class="poster"><img src="p10.jpg" alt="2"></div>
                <div class="details">
                    <h1>Carpentery</h1>
                    <p class="desc">
                        Welcome to a world of precision and creativity - our carpentry team is dedicated to transforming your visions into tangible, stunning woodwork.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="p7.jpg" alt="3"></div>
                <div class="details">
                    <h1>Car Wash</h1>
                    <p class="desc">
                        Unveil the true beauty of your vehicle with our professional car wash that goes beyond the surface.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="poster"><img src="p8.jpg" alt="1"></div>
                <div class="details">
                    <h1>Gardeners</h1>
                    <p class="desc">
                        Embark on a journey of lush greenery and vibrant blooms as our gardeners bring nature to your doorstep.
                    </p>
                </div>
            </div>
            <!-- <div class="card">
                <div class="poster"><img src="../public/images/p4.jpg" alt="1"></div>
                <div class="details">
                    <h1>Cleaners</h1>
                    <p class="desc">
                        We specialize in providing top-notch cleaning services to ensure your space is spotless, welcoming, and hygienic.
                    </p>
                </div> -->
            <!-- </div> -->
            <div class="card">
                <div class="poster"><img src="p9.jpg" alt="6"></div>
                <div class="details">
                    <h1>Electricians</h1>
                    <p class="desc">
                        Empower your space with our expert electricians, dedicated to ensuring a safe and efficient electrical system.
                    </p>
                </div>
            </div>
            <!-- <br><br><br><br><br><br><br><br><br><br><br><br> -->
        </div>


    </div><br><br><br><br><br><br><br><br><br><br><br><br>
    <h5 id="section_Intro">We help you</h5>
    <div class="section2">
        <div class="benefits1">
            <img src="target-audience-computer-svgrepo-com (1).svg" alt="img1">
            <h6>Grow your Audience</h6>
            <p>Find new customers and build your email list with lead generation ....</p>
        </div><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="benefits2">
            <img src="graph-chart-2-svgrepo-com.svg" alt="img2">
            <h6>Boost Online Sales</h6>
            <p>Market your ecommerce business and deliver experiences</p>
        </div><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="benefits3">
            <img src="graduation-hat-svgrepo-com.svg" alt="img3">
            <h6>Sell your Knowledge</h6>
            <p>Build a following, engage them with with your content ...</p>
        </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="section3">
        <div class="textSide">
            <h4>Getting work done <br><br> has never been easier</h4>
            <ul>
                <li>Get Matched with the expert Freelancers in minutes</li>
                <li>Money back guarantee and anti-fraud protection</li>
            </ul>
            <button id="startBtn" >START NOW </button>
        </div><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="Image2">
            <img src="p5.jpg" alt="image">
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <h5 id="Reviews_Intro">Customer Reviews</h5>
    <div class="reviews">
        <div class="side">
            <div class="text">
                <h5>"We have built a network of trusted freelancers we can depend on when we need something done."</h5>
            </div>
            <div class="profile">
                <img src="I1.jpg" alt="image1">
                <div class="profileName">
                    <h6>Ana Rodriguez</h6>
                    <!-- <p>Santamaria Shirtmakers</p> -->
                </div>
            </div>
        </div><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="side">
            <div class="text">
                <h5>"The ease of communication and security provided make the process of outsourcing effortless"</h5>
            </div>
            <div class="profile">
                <img src="I2.jpeg" alt="image2">
                <div class="profileName">
                    <h6>Bronte Aurell</h6>
                    <!-- <p>ScandiKitchen</p> -->
                </div>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="herox">
            <div class="form-box">

                <!-- <h2>Embrace the freelance revolution</h2> -->
                <p>There's never been a better time to take yourself online and start making money from your very own fine-tuned set of skills.</p>
                <p>Skill work is the best place to work as a freelancer, to grow your business </p>
                <button id="freelancerBtn" >Join as a Freelancers</button>
            </div>
            <div class="imagex"></div>
        </div>
    </div>
    <div class="footer">
        <div class="1">
            <h5>Categories</h5>
            <ul>
                <li>Graphics & Design</li>
                <li>Digital Marketing</li>
                <li>Video & Animation</li>
                <li>Music & Audio</li>
                <li>Writing & Translation/li>
                <li>Logo Maker</li>
            </ul>
        </div>
        <div class="2">
            <h5>About</h5>
            <ul>
                <li>Careers</li>
                <li>Press & News</li>
                <li>Partnerships</li>
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
                <li>Investor Relations</li>
            </ul>
        </div>
        <div class="3">
            <h5>Community</h5>
            <ul>
                <li>Forum</li>
                <li>Influencers</li>
                <li>Affiliates</li>
                <li>Podcast</li>
                <li>Invite a Friend</li>
                <li>Events</li>
            </ul>
        </div>
        <div class="4">
            <h5>Support</h5>
            <ul>
                <li>Data</li>
                <li>Business</li>
                <li>Lifestyle</li>
                <li>Photography</li>
                <li>Sitemap</li>
                <li>Design</li>
            </ul>
        </div>
    </div>
    <!-- <script src="../public/js/edit.js"></script>  -->
    <script src="edit.js"></script>
</body>
</html>






























