<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skill Work Community</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <div class="success-message">
      <h1>welcome back!</h1>
      <p>You have successfully logged-in as a client on Skill Work Community.</p>
      <p>continue searching for talented individuals to help you with your projects?</p>
      <a href="main.html" class="btn">continue</a>
      <!-- <a href="client.html" class="btn"> Start Searching</a>
      <a href="profile.html" class="btn">Go to My Profile</a> -->
    </div>
  </div>
</body>
</html>
