<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>number-1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="leftside">
            <a href="index.html"><img src="community-people-friends-group-svgrepo-com.svg" class="logo"></a><p>Skill Community</p>
            <ul id="menuList">
                <!-- <li><a href="./edit.html">Home</a></li>
                <li><a href="">Talents</a></li>
                <li><a href="">Pricing</a></li> -->
            </ul>
        </div>
        
        <nav>
            <!-- <div class="buttons">
                <button id="loginBtn" >Log in</button>
                <button id="signupBtn">Sign up</button>
            </div> -->
        </nav>
    </div>
    <div class="main">
        <div class="container">
            <form id="form">
                <h1>Login</h1>
                <!-- <p id="loginErrorMessage">Invalid Email or Password</p> -->
                <div class="input-tab">
                    <label for="email">Email:</label>
                    <input id="email" type="text" placeholder="Enter your Email">
                    <p id="emailErrorMessage"></p>
                </div>
                <div class="input-tab">
                    <label for="password">Password:</label>
                    <input id="password" type="password" placeholder="Enter your Password">
                    <p id="passwordErrorMessage"></p>
                </div>
                <div class="btn">
                    <button id="submitBtn"  type="submit"> Submit</button>
                </div>
                <a href="register.html" id="sign-up">Don't have an account? Sign up</a>
            </form>
        </div>
    </div>
    <!-- <script src="../public/js/login.js"></script> -->
    <script src="login.js"></script>
</body>
</html>
                <!-- <div class="radio"> 
                    <label>User<input type="radio" id="radioBtn1" name="radiobutton" value="User"></label>
                    <label>Freelancer<input type="radio" id="radioBtn2" name="radiobutton" value="Freelancer"></label>
                </div> -->
